{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
<!-- hero section -->
<div class="container-fluid center-grid" id="home">

    <div class="section-grid">
        {% include 'home/nav_bar.html' %}
        {% include 'home/hero_section.html' %}
    </div>

</div>
<!-- Posts -->
 <div class="container-fluid center-grid" id="posts">
    <div class="section-grid">
        {% include 'home/nav_bar.html' %}
        {% include 'home/post_section.html' %}
    </div>
 </div>
{% endblock content %}