<div class="section-content-area">
    <div class="row">
        <h1 class="text-center fw-bold display-2 pt-2" style="color: #000000a2;">Oproepen</h1>
    </div>
    <div class="row">
        <div class="text-center display-5">Lorem ipsum</div>


        <!-- Post content -->
        <div class="container p-4">
            <div class="row pe-3">
                <div class="col">
                    <div class="input-group mb-3 bg-opacity-100">
                        <span class="input-group-text" id="basic-addon1">Geplaats door</span>
                        <input type="text" class="form-control" required placeholder="Naam" aria-label="Naam"
                            aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">@</span>
                        <input type="text" class="form-control" required placeholder="e-mail" aria-label="e-mail"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Stuur mij een bericht als iemand
                            reageert</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div>


                    <div class="input-group mb-3">
                        <label for="exampleDataList" class="form-label">Welke provincie</label>
                        <input class="form-control ms-2" required list="datalistOptions" id="exampleDataList"
                            placeholder="Type  om te zoeken of vul een plaatsnaam in">
                        <datalist id="datalistOptions">
                            <option value="Groningen">
                            <option value="Friesland">
                            <option value="Drenthe">
                            <option value="Overijsel">
                            <option value="Gelderland">
                            <option value="Utrecht"></option>
                            <option value="Limburg"></option>
                            <option value="Noord Brabant"></option>
                            <option value="Zeeland"></option>
                            <option value="Noord Holland"></option>
                            <option value="Zuid Holland"></option>
                        </datalist>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Oproep</span>
                        <textarea class="form-control" placeholder="Uw oproep" required aria-label="Oproep"></textarea>
                    </div>
                    <div class="d-grid pt-4">
                        <button class="btn btn-lg btn-outline-dark" type="submit">Plaats oproep</button>
                    </div>
                    <!-- End Example Code -->
                </div>
                <!-- end col one -->
                <div class="col-5 bg-danger-subtle">TEST</div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right text-light"><i class="fa-regular fa-copyright"></i> dGM Producties</div>